Repository w3f/Grants-Program, pull requests merged in 2021-12, with the labels that each got.

#703 add imbue network grant application
  applications/imbue_network.md
Labels: ready for review

#729 Amendment: Jeton_Network_follow_up.md
  applications/ajuna_network_follow_up.md
Labels: ready for review

#735 OpenBrush follow-up Grant update
  applications/openbrush-follow-up.md
Labels: amendment

#678 Koi Metaverse
  applications/Koiverse.md
Labels: ready for review

#736 Bit.Country - Update Payment Address of M2 Accepted Application.
  applications/bit_country_m2.md
Labels: amendment

#675 Decentralized well being game api
  applications/decentralized_well-being_game_api.md
Labels: ready for review

#714 add universaldot application
  applications/universaldot-me.md
Labels: ready for review

#739 Candle Auction Milestone-3: Workshop to substrate.dev
  applications/candle_auction_ink.md
Labels: changes requested

#731 Submit the application of AdMeta
  applications/AdMeta.md
Labels: ready for review

#689 Update 2nd milestone
  applications/deip.md
Labels: ready for review, amendment

#747 changed the delivery coasting amount
  applications/php-substrate-api.md
Labels: ready for review, amendment

#755 Update CESS.md
  applications/CESS.md
Labels: ready for review, amendment

#715 Dotpay a github paid task platform using DOT payment
  applications/DotPay.md
Labels: ready for review
