Repository w3f/Grants-Program, pull requests merged in 2021-09, with the labels that each got.

#591 Proposal for IP infrastructure on Substrate: InvArch
  applications/InvArch.md
Labels: changes requested

#593 feat: add SubGame Network m2
  applications/SubGame_Network_m2.md
Labels: ready for review

#583 Proposal changes
  applications/substrate-identity-directory.md
Labels: ready for review, amendment

#613 Ruby Substrate client
  applications/rb_substrate_client.md
Labels: ready for review, on hold
