Repository w3f/Grants-Program, pull requests merged in 2021-05, with the labels that each got.

#353 add BCANN grant request
  applications/BCANN.md
Labels: ready for review

#343 mybank application
  applications/mybank.md
Labels: Awaiting 1 approval

#356 Chainbridgenetwork
  applications/Doter.md
Labels: ready for review

#392 Add application for SubDAO Chrome Extension
  applications/SubDAO-Chrome-Extension.md
Labels: Awaiting 1 approval, ready for review

#418 Milestone update for the GamePower nft-collectibles-wallet
  applications/nft_collectibles_wallet.md
Labels: ready for review

#419 Update milestone for #329
  applications/Parallel.md
Labels: ready for review

#340 Sukhavati PoC Module
  applications/sukhavati_poc_module.md
Labels: ready for review

#424 UpLink proposal
  applications/uplink.md
Labels: ready for review
