Repository w3f/Grants-Program, pull requests merged in 2021-08, with the labels that each got.

#501 Added requested changes
  applications/FIAT-on-off-ramp.md
Labels: amendment, ready for review

#527 Add NFT Explorer
  applications/nft_explorer.md
Labels: ready for review

#563 Subsembly - Support for GRANDPA
  applications/Subsembly-GRANDPA.md
Labels: ready for review

#544 OpenSquare off-chain voting platform
  applications/OpenSquare-offchain-voting.md
Labels: ready for review

#555 Change M1's duration
  applications/RubyProtocol.md
Labels: ready for review

#513 Addition of Health Hero's Web-3 Grant Submission
  applications/nft_product_analytics_suite.md
Labels: ready for review

#508 mobile dApps/Wallet Connection
  applications/mobile_dapp_connection.md
Labels: closed process: private finances

#553 SkyeKiwi-Protocol Application & Amendment SkyePass deliverables
  applications/skyekiwi-protocol.md
  applications/skyepass.md
Labels: ready for review

#578 Terminate Deeper Chain
  applications/deeper_network.md
Labels: ready for review

#581 Revive Deeper Network Open Grant application
  applications/deeper_network.md
Labels: ready for review

#587 Update chainjs.md
  applications/chainjs.md
Labels: ready for review, amendment

#576 Terminate Parami Protocol
  applications/parami-protocol.md
Labels: ready for review

#496 Submission of Dot Marketplace for Open Web3 Grant
  applications/dot_marketplace.md
Labels: ready for review
