Repository w3f/Grants-Program, pull requests merged in 2021-11, with the labels that each got.

#657 add iris grant proposal
  applications/iris.md
Labels: ready for review

#688 Changes in BrightTreasury Milestone 3 scope
  applications/bright_treasury.md
Labels: amendment

#668 Crossbow Grant
  applications/crossbow.md
Labels: ready for review

#696 Amended application for the bit.country m2.
  applications/bit_country_m2.md
Labels: ready for review

#693 Refresh open-node grant
  applications/open-node-framework.md
Labels: ready for review, amendment

#701 Update chainjs.md
  applications/chainjs.md
Labels: amendment

#680 RainbowDAO Protocol ink! Phase 1.md
  applications/RainbowDAO Protocol ink!  Phase 1.md
Labels: ready for review

#682 Web Registry DAO / Wika Network Grant Request
  applications/wika_network.md
Labels: ready for review

#706 SubVT Telegram Bot Grant Proposal
  applications/subvt-telegram-bot.md
Labels: ready for review

#687 Update citadel.md
  applications/citadel.md
Labels: ready for review, amendment
