Repository w3f/Grants-Program, pull requests merged in 2021-07, with the labels that each got.

#455 Create NuLink.md
  applications/NuLink.md
Labels: ready for review

#452 Polk-auction
  applications/polk-auction.md
Labels: on hold

#472 Update parachain-staking M1
  applications/parachain-staking.md
Labels: ready for review

#485 Add m2 features and cost
  applications/php-scale-lib.md
Labels: ready for review

#488 Add Canyon Network
  applications/canyon_network.md
Labels: changes requested

#489 Skynet and Substrate Integration
  applications/skynet-substrate-integration.md
Labels: ready for review

#486 Project 1001
  applications/project_1001.md
Labels: ready for review

#502 Revert "Terminate Parami Protocol"
  applications/parami-protocol.md
Labels: ready for review

#514 Amend grant proposal for Standard Protocol
  applications/Standard_Protocol.md
Labels: ready for review

#499 Add the YibanChen application
  applications/yiban_chen1.md
Labels: ready for review

#497 Openbrush Grant Application from Supercolony
  applications/openbrush.md
Labels: ready for review

#495 add Banksy-Finance Grant Request
  applications/Banksy_Finance.md
Labels: ready for review

#517 Add PolkaSign
  applications/SubDAO_PolkaSign.md
Labels: ready for review

#520 Create Valibre PLIP grant application
  applications/plip.md
Labels: ready for review

#525 Create Shivarthu.md
  Shivarthu.md
Labels: ready for review
