Repository w3f/Grants-Program, pull requests merged in 2021-03, with the labels that each got.

#212 SkyePass application
  applications/skyepass.md
Labels: ready for review

#252 Polkadot UI Web Identicon + Angular Identicon
  applications/Polkadot_Web_UI.md
Labels: ready for review

#208 Create ZeroPool.md
  applications/ZeroPool.md
Labels: ready for review

#268 Quadratic Funding Module and Dapp Application
  applications/quadratic-funding.md
Labels: ready for review

#216 Webb Mixer
  applications/MIXER.md
Labels: ready for review

#182 Create Gluon_decentralized_hardware_crypto_wallet_services.md
  applications/Gluon_decentralized_hardware_crypto_wallet_services.md
Labels: ready for review

#277 EverlastingCash Web3 Grant Application
  applications/EverlastingCash.md
Labels: ready for review

#255 substrate identity directory
  applications/substrate-identity-directory.md
Labels: ready for review

#303 Update README as in General Grants repo
  README.md
Labels: Awaiting 2 approvals

#283 Open Grants Program application for project Delmonicos
  delmonicos.md
Labels: ready for review

#218 Add Treasureland Grant
  applications/Treasureland.md
Labels: Awaiting 1 approval, ready for review

#228 ChainJS Grant application
  applications/chainjs.md
Labels: ready for review

#301 PolkaJ Android Support proposal
  applications/polkaj_android_support.md
Labels: Awaiting 1 approval, ready for review

#316 xtoken - XCM Implementation for Fungible Assets
  applications/xtokens.md
Labels: ready for review

#286 stable-asset.md
  applications/stable-asset.md
Labels: ready for review

#232 pallet-maci (Minimal Anti Collusion Infrastructure)
  applications/pallet_maci.md
Labels: ready for review

#313 Create XPredictMarket.md
  applications/XPredictMarket.md
Labels: ready for review

#331 re-estimate the price of milestone
  applications/Apron_Network.md
Labels: ready for review

#305 Bit.Country Milestone 2
  applications/bit_country_m2.md
Labels: ready for review
