Repository w3f/Grants-Program, pull requests merged in 2022-05, with the labels that each got.

#903 Propose XBI as a PSP: an XCM-based high-level interface for cross-chain smart contract execution
  applications/xbi-format-psp-t3rn.md
Labels: ready for review

#926 Asylum: update company address
  applications/asylum.md
Labels: ready for review, amendment

#936 SubVT Telegram Bot development update
  applications/subvt-telegram-bot.md
Labels: ready for review

#934 Applying for Polkadot js Plus follow-up: Pool Nominations
  applications/Plus-follow-up.md
Labels: ready for review

#940 Updating Milestone 2 to Terra's Recent Collapse
  applications/stardust.md
Labels: ready for review

#911 Afloat's Migration to Polkadot
  applications/Afloat.md
Labels: ready for review

#925 Upgrade Gafi application from level 2 to level 3
  applications/Gafi.md
Labels: ready for review

#953 Resubmit scale-codec-comparator
  applications/scale-codec-comparator.md
Labels: ready for review, discussion private

#949 grant proposal for substrate-tutorials
  applications/substrate-tutorials.md
Labels: ready for review

#947 Grant Application: Keysafe Network
  applications/keysafe_network.md
Labels: ready for review, discussion private

#944 Amendment to initial contract
  applications/delmonicos.md
Labels: ready for review

#873 Create Whiteflag-on-Fennel.md
  applications/Whiteflag-on-Fennel.md
Labels: ready for review

#959 Supersig: like multisig, but with superpowers! 💥
  applications/pallet_supersig.md
Labels: ready for review

#965 Epirus Substrate Explorer grant proposal
  applications/epirus_substrate_explorer.md
Labels: ready for review

#960 Sol2Ink - An easy transition from Solidity to Ink!
  applications/sol2ink.md
Labels: ready for review

#921 OpenBrush Third Grant(follow up 2)
  applications/openbrush-follow-up-2.md
Labels: ready for review
