Repository w3f/Grants-Program, pull requests merged in 2022-09, with the labels that each got.

#1157 Update new_bls12_hash_function.md
  applications/new_bls12_hash_function.md
Labels: ready for review

#1149 OpenBrush follow-up 2 milestone 7 modification
  applications/openbrush-follow-up-2.md
Labels: ready for review, amendment

#1168 update asylum payment address
  applications/asylum_follow_up_1.md
Labels: ready for review

#1144 Maki application
  applications/Maki.md
Labels: ready for review

#1163 Calamar application
  applications/Calamar.md
Labels: ready for review

#1146 Amend the project milestone tasks
  applications/wasmedge_substrate.md
Labels: ready for review, amendment

#1124 Create RubeusKeeper.md
  applications/RubeusKeeper.md
Labels: ready for review

#1105 Typechain Polkadot Grant 2
  applications/typechain-polkadot-follow-up.md
Labels: ready for review, discussion private

#1159 Epirus Substrate Explorer phase 2 application
  applications/epirus_substrate_phase_2.md
Labels: ready for review

#1176 added uke protocol proposal
  applications/uke-protocol.md
Labels: ready for review

#1082 QSTN-Redefining-data-De-Fi-and-NFTs-on-Substrate.md
  applications/QSTN: Redefining data, De-Fi and NFTs on Substrate.md
Labels: ready for review

#1153 Create substats.md
  applications/substats.md
Labels: ready for review

#1177 submit application: polket_toearnfun
  applications/polket_toearnfun.md
Labels: ready for review

#1179 binary merkle tree application
  applications/binary_merkle_tree.md
Labels: ready for review

#1160 New order
  applications/new-order.md
Labels: ready for review

#1158 Application: Subalfred
  applications/subalfred.md
Labels: ready for review
