Repository w3f/Grants-Program, pull requests merged in 2022-02, with the labels that each got.

#774 Integrating Polkadot.js with Blackprint
  applications/blackprint-js.md
Labels: ready for review

#786 OpenSquare paid QA protocol
  applications/OpenSquare_paid_qa_protocol.md
Labels: ready for review

#776 Submit application of project Libra
  applications/Libra.md
Labels: ready for review

#734 Create Interstellar-Network.md
  applications/Interstellar-Network.md
Labels: ready for review

#726 Submission of substrate_client_java
  applications/substrate_client_java.md
Labels: closed process: private finances

#808 Milestone delivery amendment, remove CLI from deliverables
  applications/MIXERv2.md
Labels: ready for review

#807 Terminate Klevoya
  applications/klevoya_fuzzer.md
Labels: ready for review

#806 Terminate CheersLand
  applications/cheersland.md
Labels: ready for review

#800 Changes for Milestone 2
  applications/polkadotjs_no_code.md
Labels: ready for review

#818 Polk auction amend
  applications/polk-auction.md
Labels: ready for review

#749 Add grant proposal for Spacewalk, a Stellar bridge
  applications/spacewalk-bridge.md
Labels: ready for review

#812 ammend iris grant prop
  applications/iris.md
Labels: amendment

#825 Implementation of the new hash function to BLS12 curves
  applications/Implementation of the new hash function to BLS12 curves.md
Labels: ready for review

#789 Submit application of hamster
  applications/hamster.md
Labels: ready for review

#804 Update stable-asset.md
  applications/stable-asset.md
Labels: ready for review, amendment

#839 Terminate cScale
  applications/cScale.md
Labels: ready for review
