Repository w3f/Grants-Program, pull requests merged in 2022-03, with the labels that each got.

#846 NuLink Update
  applications/NuLink.md
Labels: ready for review, amendment

#845 Skynet Substrate - update
  applications/skynet-substrate-integration.md
Labels: ready for review, amendment

#848 Change the scope of work of the 5th milestone in OpenBrush
  applications/openbrush-follow-up.md
Labels: ready for review, amendment

#733 Slonigiraf grant application
  applications/slonigiraf.md
Labels: ready for review

#820 helixstreet grant application / Level 2
  applications/helixstreet.md
Labels: ready for review

#850 Openbrush follow up address update
  applications/openbrush-follow-up.md
Labels: ready for review, amendment

#836 create HE-Chain Proposal
  applications/HE-Chain.md
Labels: ready for review

#805 Add Asylum grant proposal
  applications/asylum.md
Labels: ready for review

#854 Subauction: Amend timeline and remove milestone 3
  applications/subauction.md
Labels: ready for review, amendment

#855 Create ces_data_store.md
  applications/ces_data_store.md
Labels: ready for review

#676 Substrate polywrapper application
  applications/substrate_core_polywrapper.md
Labels: ready for review

#862 Grant application: WasmEdge for Substrate
  applications/wasmedge_substrate.md
Labels: ready for review

#832 Dot_Marketplace-phase2
  applications/dot_marketplace-phase2.md
Labels: ready for review

#865 Stardust Uncollateralized Stablecoin
  applications/stardust.md
Labels: ready for review

#868 Native Bitcoin Vaults on Substrate
  applications/native-bitcoin-vaults.md
Labels: changes requested

#878 Update AdMeta application
  applications/AdMeta.md
Labels: ready for review, amendment

#823 Add setheum-launchpad-crowdsales-pallet
  applications/setheum-launchpad-crowdsales-pallet.md
Labels: ready for review

#821 Create SaaS3.md
  applications/SaaS3.md
Labels: ready for review

#872 Create tdot.md
  applications/tdot.md
Labels: ready for review
