Repository w3f/Grants-Program, pull requests merged in 2022-12, with the labels that each got.

#1303 Update TREX network phase-1 milestone.
  applications/TREX_Network.md
Labels: discussion private

#1325 update btc address in calamar application
  applications/Calamar.md
Labels: ready for review, amendment

#1324 Hybrid node research grant proposal
  applications/hybrid_node_research.md
Labels: ready for review

#1290 ZK-Snarks tutorial
  applications/ZK-Snarks tutorial.md
Labels: ready for review

#1333 Terminate PolkaSignIn
  applications/PolkaSignIn.md
Labels: ready for review

#1305 Add wasm-opt-for-rust maintenance grant
  maintenance/wasm-opt-for-rust.md
Labels: ready for review, on hold, maintenance grant

#1334 Add Solang maintenance
  applications/Solang_developer_experience_improvements.md
Labels: ready for review

#1335 Update scale-codec-comparator, Change the implemented libs in m2
  applications/scale-codec-comparator.md
Labels: ready for review, amendment

#1341 Links to the grant contracts in the applications index
  applications/index.md
Labels: update docs

#1345 Terminate Tribal Protocol
  applications/tribal_protocol.md
Labels: ready for review

#1330 Amendment to grant proposal Fair Squares
  applications/fair_squares.md
Labels: ready for review, amendment

#1353 Application: Research feasibility and design for Java Host
  applications/research-feasibiliy-java-host.md
Labels: ready for review

#1359 Bitcoin address update to comply with the process
  applications/QRUCIAL_DAO.md
Labels: ready for review

#1262 Amend proposal
  applications/substrate_core_polywrapper.md
Labels: ready for review, amendment

#1339 Update SaaS3
  applications/SaaS3.md
Labels: ready for review

#1376 Fixed grant details for the ECDSA hardware wallet support
  applications/polkadotjs-hardware.md
Labels: ready for review, amendment

#1368 Update typechain-polkadot-follow-up.md
  applications/typechain-polkadot-follow-up.md
Labels: ready for review, amendment

#1367 Update sol2ink-follow-up.md
  applications/sol2ink-follow-up.md
Labels: ready for review, amendment

#1366 Update openbrush-follow-up-2.md
  applications/openbrush-follow-up-2.md
Labels: ready for review, amendment

#1365 Iris Amendment
  applications/iris_followup.md
Labels: ready for review, amendment

#1382 Change polkadotjs hardware wallet grant address
  applications/polkadotjs-hardware.md
Labels: ready for review, amendment

#1285 Unified deployment for the collator node
  applications/unified_collator_node_deployment.md
Labels: ready for review

#1386 update the receiving address
  applications/Dante_Network.md
Labels: ready for review, amendment

#1389 Fix website sidebar
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/Introduction/_category_.yml
  docs/Introduction/ideas.md
  docs/Introduction/intro.md
  docs/Process/_category_.yml
  docs/README.md
  docs/RFPs/Implemented/appi.md
  docs/RFPs/Implemented/candle-auction.md
  docs/RFPs/Implemented/ksm-tipping-button.md
  docs/RFPs/Implemented/on-chain-quadratic-funding.md
  docs/RFPs/Implemented/php-api.md
  docs/RFPs/Implemented/php-scale.md
  docs/RFPs/Implemented/staking-rewards-collector-front-end.md
  docs/RFPs/Open/ISO_20022.md
  docs/RFPs/Open/a-and-v-topology.md
  docs/RFPs/Open/alternative_polkadot_host_implementations.md
  docs/RFPs/Open/anti-collusion_infrastructure.md
  docs/RFPs/Open/epassport-zk-validation.md
  docs/RFPs/Open/formal_guarantees_for_grandpa.md
  docs/RFPs/Open/implementation-benchmarking.md
  docs/RFPs/Open/move_smart_contract_pallet.md
  docs/RFPs/Open/polkadot-collator-setup.md
  docs/RFPs/Open/raft-validators.md
  docs/RFPs/Open/sub-consensus.md
  docs/RFPs/Open/validator-setup-maintenance.md
  docs/RFPs/Open/xcm-tool.md
  docs/RFPs/Under Development/ISO_8583.md
  docs/RFPs/Under Development/crowdloan_front_end_template.md
  docs/RFPs/Under Development/identity-directory.md
  docs/RFPs/Under Development/ink_smart_contract_block_explorer.md
  docs/RFPs/Under Development/multi-chain-block-explorer.md
  docs/RFPs/Under Development/privacy-enhancement-polkadot-extension.md
  docs/RFPs/Under Development/scale-codec-comparator.md
  docs/RFPs/Under Development/social-recovery-wallet.md
  docs/RFPs/Under Development/uncollateralized-stablecoin-research.md
  docs/RFPs/Under Development/validator-selection-algorithm.md
  docs/RFPs/suggestion-template.md
  docs/applications
  docs/contribute.md
  docs/docs/faq.md
  docs/docs/readme.md
  docs/faq.md
  docs/introduction.md
  docs/process.md
  docs/rfps.md
  docs/rfps/README.md
  docs/suggesting.md
  docusaurus.config.js
  sidebars.js
Labels: update docs

#1391 Update QSTN.md
  applications/QSTN.md
Labels: ready for review, amendment

#1221 Application for Momentum, an open source, metaverse for digital societies.
  applications/odyssey_momentum.md
Labels: ready for review

#1361 Create Rubeus_keeper_st2.md
  applications/Rubeus_keeper_st2.md
Labels: ready for review

#1387 Coong Wallet Application
  applications/coong_wallet.md
Labels: ready for review

#1398 PrivaDEX MVP: Grant Application for a cross-chain DEX aggregator
  applications/PrivaDEX_aggregator.md
Labels: ready for review

#1403 Set concrete timeline for walt.id - NFT infrastructure
  applications/walt-id_nft-infra.md
Labels: ready for review, amendment

#1370 Add substrate-parachain-PoS-template
  applications/substrate-parachain-PoS-template.md
Labels: ready for review, referral program

#1400 MangoSale Protocol
  applications/MangoSale_Protocol.md
Labels: ready for review, discussion private
