Repository w3f/Grants-Program, pull requests merged in 2022-08, with the labels that each got.

#1069 Veridise grant proposal
  applications/vanguard.md
Labels: ready for review, discussion private

#1098 Update Gafi.md
  applications/Gafi.md
Labels: ready for review

#1099 Sybil-resistant faucet grant proposal
  applications/Faucet.md
Labels: ready for review

#1100 Application: Research feasibility for a Go Runtime
  applications/research-feasibility-go-runtime.md
Labels: ready for review

#1079 Update tdot.md
  applications/tdot.md
Labels: ready for review

#1050 add daos
  applications/daos.md
Labels: ready for review

#1096 Proposal: Green Lemon Protocol🍋 - An anonymous NFT solution
  applications/GreenLemon.md
Labels: ready for review

#1106 ISO-8583 RFP Proposal
  applications/Integrating-ISO8583.md
Labels: ready for review

#1094 Escrow pallet
  applications/escrow_pallet.md
Labels: ready for review, discussion private

#1113 Change payment address from DOT to USDC
  applications/epirus_substrate_explorer.md
Labels: ready for review

#1116 Change DAI address (Zondax)
  applications/Zondax-Support.md
Labels: ready for review, amendment

#1089 Meta Defender Proposal
  applications/Meta_Defender.md
Labels: ready for review

#1119 Update InvArch.md
  applications/InvArch.md
Labels: ready for review

#1059 Submit application of Primis
  applications/Primis.md
Labels: ready for review, discussion private

#1121 added uke proposal
  applications/uke.md
Labels: ready for review

#1093 add RedStone Network Proposal
  applications/RedStone Network.md
Labels: ready for review

#1053 Polkadart proposal
  applications/Polkadart.md
Labels: ready for review

#1133 Update GreenLemon.md
  applications/GreenLemon.md
Labels: ready for review

#1134 Change payment preference for wasm-opt-for-rust
  applications/wasm-opt-for-rust.md
Labels: changes requested

#1145 Change preinstalled nodes - ParaSpell.md
  applications/ParaSpell.md
Labels: ready for review, amendment

#1126 Ventur Proposal
  applications/ventur.md
Labels: ready for review

#1000 Add Asylum follow-up 1
  applications/asylum_follow_up_1.md
Labels: ready for review
