Repository w3f/Grants-Program, pull requests merged in 2022-11, with the labels that each got.

#1187 Add IPFS Utilities application
  applications/ipfs_utilities.md
Labels: ready for review

#1250 Terminate RelationGraph
  applications/Relation-Graph.md
Labels: ready for review

#1249 societal application update
  applications/Societal.md
Labels: ready for review

#1243 Added ink-boxes application
  applications/ink-boxes.md
Labels: ready for review

#1258 amend timeline
  applications/zero-network.md
Labels: ready for review, amendment

#1260 Updated timeline for ink-smart-contract-wizard
  applications/ink-smart-contract-wizard.md
Labels: ready for review

#1245 Create ParaSpell_follow-up.md
  applications/ParaSpell_follow-up.md
Labels: ready for review

#1251 updating team lead and timeline
  applications/wika_network.md
Labels: ready for review, amendment

#1269 Replace emojis in accepted_grant_applications.md for docusaurus
  docs/accepted_grant_applications.md
Labels: update docs

#1274 Update the timing of keysafe_network.md
  applications/keysafe_network.md
Labels: ready for review, amendment

#1252 Add SubRelay application
  applications/subrelay.md
Labels: ready for review

#1211 Grant application - Crowdloan Front End Template
  applications/crowdloan_frontend_template.md
Labels: ready for review

#1264 Faterium application
  applications/faterium.md
Labels: ready for review

#1271 pallet-drand-client application
  applications/pallet-drand-client.md
Labels: ready for review

#1254 ChainViz v1 application
  applications/chainviz.md
Labels: ready for review

#1280 Crowdloans-FET Application
  applications/Crowdloans-FET.md
Labels: ready for review

#1288 [zero network] update timeline and company entity
  applications/zero-network.md
Labels: ready for review, amendment

#1279 Amend Gafi Milestone 3
  applications/Gafi.md
Labels: ready for review, amendment

#1281 Centrifuge gsrpc v2
  applications/centrifuge-gsrpc-v2.md
Labels: ready for review

#1294 modify daos m2.
  applications/daos.md
Labels: changes requested, amendment

#1300 Terminate Polkaholic
  applications/Polkaholic.md
Labels: ready for review

#1286 Zombienet Explorer (previously Polkaholic.io)
  applications/Zombienet-Explorer.md
Labels: ready for review

#1308 Iris Amendment: Modify Estimated Duration
  applications/iris_followup.md
Labels: ready for review, amendment

#1312 initial commit
  docs/rfps/Open/validator-selection-algorithm.md
Labels: rfp

#1316 Suggestion that RFPs require three approvals.
  README.md
  docs/suggesting_a_project.md
Labels: update docs

#1276 Decentralized invoice system
  applications/decentralized_invoice.md
Labels: ready for review

#1313 Update validator-selection-algorithm.md
  docs/rfps/Open/validator-selection-algorithm.md
Labels: rfp

#1306 Update verida_network.md
  applications/verida_network.md
Labels: ready for review, amendment

#1315 Polkadot light client
  applications/c++polkadot-light-client.md
Labels: ready for review, amendment

#1293 update the delivery
  applications/Web3Go.md
Labels: ready for review, amendment
