Repository w3f/Grants-Program, pull requests merged in 2022-10, with the labels that each got.

#1195 Amendment: no fuzzing in wasm-opt-for-rust
  applications/wasm-opt-for-rust.md
Labels: ready for review

#1184 Revert "Terminate Relation Graph"
  applications/Relation-Graph.md
Labels: ready for review

#1202 Minor uke-protocol changes
  applications/uke-protocol.md
Labels: ready for review

#1186 DotPulse application
  applications/DotPulse.md
Labels: ready for review

#1200 DistributedKeyManagement.md
  docs/DistributedKeyManagement.md
Labels: ready for review

#1165 TREX - Timed Release Encryption Xing-chains
  applications/TREX_Network.md
Labels: ready for review

#1199 Cross-Consensus Messaging Software Development Kit
  applications/xcm-sdk.md
Labels: ready for review

#1166 add polkadot snap grant application
  applications/PolkadotSnap.md
Labels: ready for review

#1216 Update citadel.md
  applications/citadel.md
Labels: ready for review

#1182 leetcoin application
  applications/leetcoin.md
Labels: ready for review

#1164 Follow up grant for Sol2Ink
  applications/sol2ink-follow-up.md
Labels: ready for review

#1209 NFT infrastructure | by walt.id
  applications/walt-id_nft-infra.md
Labels: ready for review

#1230 Amendment to wasm-opt-for-rust: no ARM Mac CI
  applications/wasm-opt-for-rust.md
Labels: ready for review, amendment

#1223 Removing the BTC faucet functionality because BlueWallet does not support the Bitcoin testnet
  applications/native-bitcoin-vaults.md
Labels: ready for review

#1237 Update openbrush-follow-up-2.md
  applications/openbrush-follow-up-2.md
Labels: ready for review

#1236 Update typechain-polkadot-follow-up.md
  applications/typechain-polkadot-follow-up.md
Labels: changes requested

#1224 project idiyanale: multi-token community contributions for verified creators
  applications/anagolay-project-idiyanale-multi-token-community-contributions-for-verified-creators.md
Labels: ready for review

#1238 Change image source for ParaSpell application
  applications/ParaSpell.md
Labels: ready for review, amendment

#1241 Ink Smart Contract Wizard
  applications/ink-smart-contract-wizard.md
Labels: ready for review
