Repository w3f/Grants-Program, pull requests merged in 2023-10, with the labels that each got.

#2026 Cancel binary_merkle_tree.md
  applications/binary_merkle_tree.md
Labels: ready for review

#1818 DecentralML - grant application
  applications/decentral_ml.md
Labels: ready for review

#1950 LimeChain's proposal for a research grant for the Polkadot Protocol Conformance Tests RFP
  applications/Polkadot-Protocol-Conformance-Tests.md
Labels: ready for review

#2018 Amend ink! analyzer (phase 2)
  applications/ink-analyzer-phase-2.md
Labels: ready for review

#2028 Interstellar Wallet Phase 2 - amended - remove docker delivery
  applications/Interstellar-network2.md
Labels: ready for review, amendment

#2030 Update QSTN.md
  applications/QSTN.md
Labels: ready for review, amendment

#2037 update duration estimation
  applications/grantmaster.md
Labels: ready for review, amendment

#1864 KodaDot - AssetsHub NFT indexer - Milestone 1
  applications/kodadot_assethub_nft_indexer_statemine_statemint.md
Labels: ready for review

#1948 Infimum application
  applications/infimum.md
Labels: ready for review

#2041 Tracking Chain Amendment for milestone 4
  applications/tracking_chain.md
Labels: ready for review, amendment

#2045 Cancel vue-typescript-substrate-frontend-template.md
  applications/vue-typescript-substrate-frontend-template.md
Labels: ready for review

#2042 Cancel spacewalk-bridge.md
  applications/spacewalk-bridge.md
Labels: ready for review

#2048 Update RFP statuses
  docs/Introduction/intro.md
  docs/RFPs/ISO_20022.md
  docs/RFPs/alternative-polkadot-js-api-console.md
  docs/RFPs/anti-collusion_infrastructure.md
  docs/RFPs/formal_guarantees_for_grandpa.md
  docs/RFPs/grant_management_webapp.md
  docs/RFPs/parachain_validation_conformance_testing.md
  docs/RFPs/sub-consensus.md
  docs/RFPs/uptane-for-substrate-design-and-scope.md
  docs/RFPs/user-account-access-analysis.md
  docs/RFPs/xcm-tool.md
  docs/rfps.md
Labels: update docs

#2055 Amend Calamar's milestone 3
  applications/Calamar.md
Labels: ready for review, amendment

#2056 [RFP]socks5 support for JsonRpsee
  docs/RFPs/jsonrpsee-proxy-support.md
Labels: ready for review, rfp

#2060 Cancel Syncra.md
  applications/Syncra.md
Labels: ready for review

#2061 Update: Project Aurras - MVP - Phase 2
  applications/project_aurras_mvp_phase_2.md
Labels: ready for review, amendment

#1980 Create CoinFabrik_On_Ink_Integration_Tests_2.md
  applications/CoinFabrik_On_Ink_Integration_Tests_2.md
Labels: ready for review

#1947 Create Plutonication.md
  applications/Plutonication.md
Labels: ready for review, discussion private

#2068 Add JsonRpsee-socks5-proxy
  applications/JsonRpsee-socks5-proxy.md
Labels: ready for review

#2057 Create SpellRouter-proposal.md
  applications/SpellRouter-proposal.md
Labels: ready for review

#2074 Cancel Claps.md
  applications/Claps.md
Labels: ready for review

#2076 Update payment
  applications/orochi-network-orosign-part1.md
Labels: ready for review, amendment

#2051 Create signet.md
  applications/signet.md
Labels: ready for review, discussion private
