Repository w3f/Grants-Program, pull requests merged in 2023-01, with the labels that each got.

#1310 Add BPF contracts RFP [draft]
  docs/rfps/Open/bpf-contracts.md
Labels: ready for review, rfp

#1404 Amend Ink Smart Contracts Wizard
  applications/ink-smart-contract-wizard.md
Labels: ready for review, amendment

#1402 Update: Project Aurras - MVP - Phase 2
  applications/project_aurras_mvp_phase_2.md
Labels: ready for review, amendment

#1383 GenesisDAO
  applications/GenesisDAO.md
Labels: ready for review

#1412 Remove substrate-parachain-PoS-template Milestone 2
  applications/substrate-parachain-PoS-template.md
Labels: ready for review, amendment

#1342 ArtZero and InkWhale Project on Ink! Smart Contract
  applications/ArtZero_InkWhale.md
Labels: ready for review

#1415 Maki application - Amendment
  applications/Maki.md
Labels: ready for review, amendment

#1416 Amend Polkadart
  applications/Polkadart.md
Labels: ready for review, amendment

#1407 EightFish Application
  applications/eightfish.md
Labels: ready for review

#1417 RFP for User Account Access Graph
  docs/RFPs/Open/user-account-access-analysis.md
Labels: ready for review, rfp

#1413 Polkadot Contract Wizard
  applications/polkadot-contract-wizard.md
Labels: ready for review

#1423 Fiat on-off ramps amendment
  applications/FIAT-on-off-ramp.md
Labels: ready for review, amendment

#1422 RV KMIR Grant
  applications/rv-kmir.md
Labels: ready for review

#1427 Terminate grant: Asylum_follow_up_1.md
  applications/asylum_follow_up_1.md
Labels: ready for review, amendment

#1340 Adding Me Protocol To Grants-Program
  applications/MeProtocol.md
Labels: ready for review

#1439 Update payment address for dot_marketplace-Phase3.md
  applications/dot_marketplace-Phase3.md
Labels: ready for review, amendment

#1444 Change acceptable currency
  applications/keysafe_network.md
Labels: ready for review, amendment

#1437 Grant Application: Validated Streams
  applications/validated-streams.md
Labels: ready for review

#1414 Cross-chain Wallet - XCW
  applications/cross-chain-wallet.md
Labels: ready for review

#1446 Zk-snarks tutorial (update)
  applications/ZK-Snarks tutorial.md
Labels: ready for review, amendment

#1425 Polkadot Smart Chain
  applications/psc.md
Labels: ready for review

#1448 RFP: Parachain Validation Conformace Testing
  docs/RFPs/Open/parachain_validation_conformance_testing.md
Labels: ready for review, rfp

#1451 Multix - a simple interface to use complex multisigs
  applications/Multix-a-simple-UI-for-complex-multisig.md
Labels: ready for review

#1430 CosmWasmVM
  applications/CosmWasmVM-CoreProduct .md
Labels: ready for review

#1445 Dao-entrance Grant Application: online collaboration tool for web3
  applications/dao-entrance-phase-1.md
Labels: ready for review

#1452 RFP: Decentralized Security Marketplace
  docs/RFPs/Open/decentralized-security-marketplace.md
Labels: ready for review, rfp

#1457 ink and pallet benchmarking grant application
  applications/ink-pallet-benchmarking.md
Labels: ready for review

#1464 Update dao-entrance-phase-1.md
  applications/dao-entrance-phase-1.md
Labels: ready for review

#1450 Societal Grant 2
  applications/societal_grant2.md
Labels: ready for review

#1465 RFP: Wallet Aggregator Library
  docs/RFPs/Open/wallet-aggregator-library.md
  docs/rfps.md
Labels: ready for review

#1467 Data Analysis Tools for Substrate-based Blockchains.
  docs/RFPs/Open/data_analysis_tools.md
Labels: ready for review, rfp

#1431 Grant Application: Omniverse DLT
  applications/Omniverse DLT.md
Labels: ready for review

#1476 Terminate Subsembly-GRANDPA.md
  applications/Subsembly-GRANDPA.md
Labels: ready for review, amendment

#1474 Terminate JuniDB
  applications/JuniDB.md
Labels: ready for review

#1473 Revised milestone and timeline
  applications/Meta_Defender.md
Labels: ready for review, amendment

#1420 A Knowledge-Oriented Approach to Enhance Integration and Communicability in the Polkadot Ecosystem
  applications/Knowledge-Oriented-Framework.md
Labels: ready for review

#1461 Added polkasearch application
  applications/polkasearch.md
Labels: ready for review

#1488 Add PHP RPC Lib Follow up
  applications/php-rpc-lib-follow-up.md
Labels: ready for review

#1490 Scout CoinFabrik
  applications/ScoutCoinFabrik.md
Labels: ready for review

#1491 Update Datagen_Project.md _ Adding contributor
  applications/Datagen_Project.md
Labels: ready for review, amendment
