Repository w3f/Grants-Program, pull requests merged in 2023-05, with the labels that each got.

#1617 Patron Grant Application
  applications/patron.md
Labels: ready for review

#1682 Application Profond
  applications/Profond.md
Labels: ready for review

#1717 Maki amend 2
  applications/Maki.md
Labels: ready for review, amendment

#1721 RFP: Host test-suite
  docs/RFPs/Open/polkadot-protocol_conformance_tests.md
  docs/rfps.md
Labels: ready for review, rfp

#1666 ScoutCoinFabrik: Milestone 2
  applications/ScoutCoinFabrik_2.md
Labels: ready for review

#1730 Changed to FIAT payment option
  applications/walt-id_nft-infra.md
Labels: ready for review, amendment

#1735 Cancel Perpetual Altruism
  applications/NFT_Bridge_Protocol_for_NFT_Migration_and_Data_Exchange.md
Labels: ready for review

#1744 Update Zeeve Larch team, duration and deliverables
  applications/Zeeve_Parachain_deployment_zoombienet_testing_automation.md
Labels: ready for review, amendment

#1722 RFP: implementation-benchmarking Milestone 3
  applications/ink-pallet-benchmarking-phase-2.md
Labels: ready for review

#1725 Stylograph [GenesisDAO]
  applications/Stylograph.md
Labels: ready for review

#1731 Ink Playground IDE Improvements
  applications/ink-playground-ide-improvements.md
Labels: ready for review, discussion private

#1750 Contracts performance measurement tool proposal
  applications/contracts-tool.md
Labels: ready for review

#1758 Create faucet chat based bot
  applications/faucet-bot.md
Labels: ready for review

#1767 Cancel iris_followup.md
  applications/iris_followup.md
Labels: ready for review

#1774 Amend milestone 2 of accepted grant application Hybrid Block Explorer.
  applications/hybrid.md
Labels: ready for review, amendment

#1657 Dotflow
  applications/Dotflow.md
Labels: ready for review

#1772 Remove milestone2 of choko wallet
  applications/choko_wallet.md
Labels: ready for review, amendment
