Repository w3f/Grants-Program, pull requests merged in 2023-09, with the labels that each got.

#1855 Liisa NFT Portfolio Tracker
  applications/LiisaPortfolioTracker.md
Labels: ready for review

#1857 Grant Application: Roloi - XCM Payment Automation
  applications/roloi-xcm-payment-automation.md
Labels: ready for review

#1902 Application for MoveVM Substrate Pallet, part 2
  applications/Substrate_Move_System_Pallet_2.md
Labels: ready for review

#1945 Larch requirements update
  applications/Zeeve_Parachain_deployment_zoombienet_testing_automation.md
Labels: ready for review, amendment

#1937 Xcmsend Application
  applications/xcmsend.md
Labels: ready for review

#1949 Update AnV RFP
  docs/RFPs/Closed/a-and-v-topology.md
  docs/rfps.md
Labels: rfp

#1951 Amend ink! analyzer (phase 2)
  applications/ink-analyzer-phase-2.md
Labels: ready for review, amendment

#1932 Tuxedo Parachain Support
  applications/tuxedo_parachain.md
Labels: ready for review

#1908 Distributed Cryptography for Polkadot Wallets application
  applications/distributed_cryptography_for_polkadot_wallets.md
Labels: ready for review

#1940 ISO20022 PoC
  applications/ISO20022.md
Labels: ready for review

#1890 Update CosmWasmVM-CoreProduct.md
  applications/CosmWasmVM-CoreProduct.md
Labels: ready for review, amendment

#1770 DAOsign
  applications/DAOsign.md
Labels: ready for review

#1971 FiDi DotSight: Refined scope for M3, updated address
  applications/fidi-dotsight-analytics.md
Labels: ready for review, amendment

#1970 Add StorageHub Proposal
  applications/StorageHub.md
Labels: ready for review

#1988 Update Claps.md
  applications/Claps.md
Labels: ready for review, amendment

#1964 Create hybrid2.md
  applications/hybrid2.md
Labels: ready for review

#2010 Update README.md
  README.md
Labels: update docs

#2004 Polkadart amend
  applications/Polkadart.md
Labels: ready for review, amendment

#2016 update the registered address and entity
  applications/ink-pallet-benchmarking-phase-2.md
Labels: ready for review

#2014 Update Melodot Milestone 2
  applications/Melodot.md
Labels: ready for review, amendment
