Repository w3f/Grants-Program, pull requests merged in 2023-11, with the labels that each got.

#2084 Update index.md
  applications/index.md
Labels: ready for review

#2071 Tux0 application
  applications/tux0.md
Labels: ready for review

#2087 Update entity information and address
  applications/orochi-network-orosign-part1.md
Labels: ready for review, amendment

#2093 Update index.md
  applications/index.md
Labels: ready for review

#2099 Cancel Tellor.md
  applications/Tellor.md
Labels: ready for review

#2105 Amendment to Plutonication
  applications/Plutonication.md
Labels: ready for review, amendment

#1986 Ssal grant application
  applications/ssal-commods-dex.md
Labels: ready for review, discussion private

#2040 Deitos Network Application
  applications/Deitos_Network.md
Labels: ready for review

#2111 Lastic coretime price simulation
  applications/lastic-price-simulation-2.md
Labels: ready for review

#2103 Liisa portfolio tracker application update
  applications/LiisaPortfolioTracker.md
Labels: ready for review, amendment

#2118 Updating MeProtocol Grant Application
  applications/MeProtocol.md
Labels: ready for review, amendment

#2120 Amendment to Signet Application
  applications/signet.md
Labels: ready for review, amendment

#1944 Tokenguard: Ultimate growth & data analytics tool for Substrate
  applications/Tokenguard.md
Labels: ready for review, discussion private

#2096 hyperfridge
  applications/hyperfridge.md
Labels: ready for review

#2124 Amended Proposal for a Contracts Performance Measurement Tool
  applications/contracts-tool.md
Labels: ready for review

#2080 RegionX Application
  applications/RegionX.md
Labels: ready for review

#2127 Deitos Network: New team member.
  applications/Deitos_Network.md
Labels: ready for review, amendment

#2129 Update lastic-price-simulation-2.md to add additional contributor.
  applications/lastic-price-simulation-2.md
Labels: ready for review, amendment

#2130 Integrate Sumsub
  .github/pull_request_template.md
  .github/workflows/check_application_document.yml
  .github/workflows/enforce-label.yml
  applications/application-template.md
  docs/Introduction/intro.md
  docs/faq.md
Labels: update docs

#2126 Change the Payment address
  applications/Polkadot-Protocol-Conformance-Tests.md
Labels: ready for review, amendment
