Repository w3f/Grants-Program, pull requests merged in 2023-06, with the labels that each got.

#1781 Cancel Gluon_decentralized_hardware_crypto_wallet_services.md
  applications/Gluon_decentralized_hardware_crypto_wallet_services.md
Labels: ready for review

#1726 RFP/securityMarketPlace
  applications/Security_Marketplace.md
Labels: ready for review

#1782 Larch: change user management to network management
  applications/Zeeve_Parachain_deployment_zoombienet_testing_automation.md
Labels: ready for review, amendment

#1715 Ocelloids Monitoring SDK grant application
  applications/ocelloids_monitoring_sdk.md
Labels: ready for review

#1766 Grants webapp
  applications/Grant_management_webapp.md
Labels: ready for review, on hold

#1748 FiDi DotSight Analytics Proposal
  applications/fidi-dotsight-analytics.md
Labels: ready for review

#1660 Submit Cryptex Proposal
  applications/cryptex.md
Labels: ready for review

#1649 XcavateDeveloperLoandApp
  applications/Xcavate.md
Labels: ready for review

#1788 zkwasm rollup amend timeline
  applications/zkwasm-rollups-transfer.md
Labels: ready for review, amendment

#1803 Update Timeline & Staff - Momentum, an open source, metaverse for digital societies.
  applications/odyssey_momentum.md
Labels: ready for review, amendment

#1807 Fix typo in xbi-format-psp-t3rn.md
  applications/xbi-format-psp-t3rn.md
Labels: update docs

#1791 Add Validator_Monitoring_Service proposal
  applications/Validator_Monitoring_Service.md
Labels: ready for review

#1768 Deep Account Analytics in Three Tiers for the Polkadot Data Alliance
  applications/DeepAccountAnalytics-PolkadotDataAlliance.md
Labels: ready for review

#1809 Add ISO-8553 PoC implementation
  applications/ISO-8583-implementation.md
Labels: ready for review

#1811 Update substrate_client_java.md
  applications/substrate_client_java.md
Labels: ready for review, amendment

#1822 Amend Slothunter milestone deliverables
  applications/slothunter.md
Labels: ready for review, amendment

#1817 LightSpell: XCM API
  applications/LightSpell-proposal.md
Labels: ready for review

#1827 Cancel Openbrush
  applications/openbrush-follow-up.md
Labels: ready for review, amendment

#1812 Tokeneconomics survey: Post approval changes
  applications/tokenomics-survey-2022.md
Labels: ready for review

#1828 Update sirato_substrate_phase3.md
  applications/sirato_substrate_phase3.md
Labels: ready for review

#1830 Update Maki - Terminate due to lack of significant progression
  applications/Maki.md
Labels: ready for review, amendment
