Repository w3f/Grants-Program, pull requests merged in 2023-12, with the labels that each got.

#2104 Grant: SubSMT
  applications/subsmt.md
Labels: ready for review

#2081 Create CoinFabrik_On_Ink_Integration_Tests_3.md
  applications/CoinFabrik_On_Ink_Integration_Tests_3.md
Labels: ready for review, admin-review

#2113 QuantumGuard application submission
  applications/quantum-guard.md
Labels: ready for review

#2123 Democratic Governance
  applications/democratic-governance-1.md
Labels: ready for review

#2135 Cancel JsonRpsee-socks5-proxy.md
  applications/JsonRpsee-socks5-proxy.md
Labels: ready for review

#2137 Tux0 Amendment
  applications/tux0.md
Labels: ready for review, amendment

#2143 Amendment to Centrifuge TWAMM Application
  applications/centrifuge-twamm.md
Labels: ready for review, amendment

#2140 Cancel CILA-omnichain-infrastructure.md
  applications/CILA-omnichain-infrastructure.md
Labels: ready for review

#2147 Update timeline for delightfuldot application
  applications/delightfuldot.md
Labels: ready for review, amendment

#2148 Add details to requirements
  applications/application-template.md
  docs/Introduction/intro.md
Labels: update docs

#2158 Update index.md
  applications/index.md
Labels: ready for review

#2157 Update index.md
  applications/index.md
Labels: ready for review

#2160 Update index.md
  applications/index.md
Labels: ready for review

#2066 pocs-proposal
  applications/PoCS.md
Labels: ready for review

#2162 Updating Me Protocol Payment Details
  applications/MeProtocol.md
Labels: ready for review

#2163 Change payment method for SpellRouter
  applications/SpellRouter-proposal.md
Labels: ready for review
