Repository w3f/Grants-Program, pull requests merged in 2023-02, with the labels that each got.

#1469 Update OpenBrush milestone 8
  applications/openbrush-follow-up-2.md
Labels: ready for review, amendment

#1432 Follow-up grant for Typechain-Polkadot
  applications/typechain-polkadot-follow-up-2.md
Labels: ready for review

#1348 Grant: Substrate Tokenomics Survey
  applications/tokenomics-survey-2022.md
Labels: ready for review

#1500 Update timeline for significant delays - openrollup-mvp-phase-1.md
  applications/openrollup-mvp-phase-1.md
Labels: ready for review

#1486 Solidity Trie Verifier Implementation
  applications/solidity-trie-verifier.md
Labels: ready for review

#1511 RFP: Static Analysis of Runtime Pallets
  docs/RFPs/Open/Static-Analysis-for-Runtime-Pallets.md
Labels: ready for review, rfp

#1517 Tuxedo application
  applications/tuxedo.md
Labels: ready for review

#1509 Update substats.md
  applications/substats.md
Labels: ready for review, amendment

#1499 Application: FuzzLand
  applications/FuzzLand.md
Labels: ready for review

#1537 Datagen-Update timeline
  applications/Datagen_Project.md
Labels: ready for review, amendment

#1528 Anchor, On-chain Linked List pallet and Name Service
  applications/Anchor.md
Labels: changes requested

#1539 RFP: Data Analytics Platform
  docs/RFPs/Open/analysis-website-and-data-platform.md
Labels: ready for review, rfp

#1487 zkWasm Rollup: Rollup Transfer Transactions based on Wasm
  applications/zkwasm-rollups-transfer.md
Labels: ready for review

#1531 Application: Slothunter
  applications/slothunter.md
Labels: ready for review

#1551 Amend milestone #3 delivery timeline
  applications/wasmedge_substrate.md
Labels: ready for review

#1549 Cyclops Grant Request
  applications/cyclops.md
Labels: ready for review

#1556 fiat payment
  .github/pull_request_template.md
  README.md
  applications/application-template-research.md
  applications/application-template.md
  docs/Process/how-to-apply.md
  docs/Support Docs/T&Cs.md
  docs/referral-program.md
  maintenance/maintenance-template.md
Labels: update docs

#1545 feat(rfp): alternative javascript console for polkadot js API
  docs/RFPs/Open/alternative-polkadot-js-api-console.md
  docs/rfps.md
Labels: ready for review, rfp

#1559 Mempool Dashboard - Version 2
  applications/polkadot-mempool-explorer-v2.md
Labels: ready for review

#1569 Binary merkle tree
  applications/binary_merkle_tree.md
Labels: ready for review, amendment
