Repository w3f/Grants-Program, pull requests merged in 2023-04, with the labels that each got.

#1543 Interstellar - Wallet Phase 2 (follow-up)
  applications/Interstellar-network2.md
Labels: ready for review

#1622 DINFRA Application
  applications/DINFRA.md
Labels: ready for review

#1662 Actualize QRUCIAL DAO status, final date for Milestone 2 and team/legal state updates. (#1662
  applications/QRUCIAL_DAO.md
Labels: ready for review

#1655 Create dauth_network.md
  applications/dauth_network.md
Labels: ready for review, discussion private

#1678 Terminate keysafe_network.md
  applications/keysafe_network.md
Labels: ready for review

#1642 Create galaxy.md
  applications/galaxy.md
Labels: ready for review

#1675 fix: remove incorrect previous jobs
  applications/CosmWasmVM-CoreProduct.md
Labels: amendment

#1690 Change payment address for Solang developer experience improvements.
  applications/Solang_developer_experience_improvements.md
Labels: ready for review

#1692 Add payment address: Substrate Tokenomics Survey (#1692
  applications/tokenomics-survey-2022.md
Labels: ready for review, amendment

#1608 Sirato (formerly Epirus) Substrate phase 3 grant application (#1608
  applications/sirato_substrate_phase3.md
Labels: ready for review

#1679 application: CILA - omnichain ifrastructure
  applications/CILA-omnichain-infrastructure.md
Labels: ready for review

#1705 Terminate polkadot-mempool-explorer-v2.md
  applications/polkadot-mempool-explorer-v2.md
Labels: ready for review

#1601 Vue.js + TypeScript Substrate Front-End Template Project Proposal
  applications/vue-typescript-substrate-frontend-template.md
Labels: ready for review, discussion private

#1694 Create sandox.md
  applications/sandox.md
Labels: ready for review
