Repository w3f/Grants-Program, pull requests merged in 2023-08, with the labels that each got.

#1813 Centrifuge TWAMM grant application
  applications/centrifuge-twamm.md
Labels: ready for review

#1877 Amend tokenomics-survey-2022: Remove Dockerfile references
  applications/tokenomics-survey-2022.md
Labels: ready for review, amendment

#1884 Dinfra application, updated payment destination.
  applications/DINFRA.md
Labels: ready for review

#1887 Amend DIA bridge attestation grant
  applications/DIA_Bridge_Attestation_Oracle.md
Labels: ready for review, amendment

#1853 Aisland Docsig
  applications/Aisland-DocSig.md
Labels: ready for review

#1893 xNFT updates
  applications/xNFT.md
Labels: ready for review

#1888 Proposal: Storage solution on Polkadot
  applications/Eiger_Storage_on_Polkadot_1.md
Labels: ready for review

#1894 add Solang_Playground
  applications/Solang_Playground.md
Labels: ready for review

#1856 Tesseract dApps/Wallet integration native mobile libraries proposal
  applications/dapp_wallet_integration_native_mobile_libraries.md
Labels: ready for review, closed process: private finances

#1866 P2P data platform proposal
  data_platform_with_deep_indexed_data_and_staking_reports.md
Labels: ready for review

#1875 Create CoinFabrik_On_Ink_Integration_Tests.md
  applications/CoinFabrik_On_Ink_Integration_Tests.md
Labels: ready for review

#1906 Amendment to Chainviz v1 application
  applications/chainviz.md
Labels: ready for review, amendment

#1917 Update m2, remove xcmp and reduce the costs
  applications/xcm-tools.md
Labels: ready for review, amendment

#1900 Treasury Tracker
  applications/TreasuryTracker.md
Labels: ready for review

#1883 Adding application: Polkadot Analytics Platform
  applications/polkadot_analytics_platform.md
Labels: ready for review

#1923 Validator monitoring service Update Milestones
  applications/Validator_Monitoring_Service.md
Labels: ready for review, amendment

#1925 Create cla.yml
  .github/workflows/cla.yml
Labels: update docs

#1815 Hyperdot - Powerful data analysis and creations platform — RFP
  applications/Hyperdot.md
Labels: ready for review

#1904 Add ink! analyzer (phase 2)
  applications/ink-analyzer-phase-2.md
Labels: ready for review

#1929 Cancel leetcoin.md
  applications/leetcoin.md
Labels: ready for review

#1935 Cancel polkasearch.md
  applications/polkasearch.md
Labels: ready for review

#1931 Cancel vanguard.md
  applications/vanguard.md
Labels: ready for review

#1941 changing payment details
  applications/Grant_management_webapp.md
Labels: ready for review, amendment

#1795 Myriad Social Submission
  applications/myriad_social.md
Labels: ready for review, discussion private

#1901 Rfp/security marketplace
  applications/Security_Marketplace.md
Labels: ready for review, amendment
