Repository w3f/Grants-Program, pull requests merged in 2023-03, with the labels that each got.

#1532 Tellor grant application
  applications/Tellor.md
Labels: ready for review

#1309 RFP: Designing Upchain - a framework for securing Substrate runtime upgrades and Substrate network upgrades (#1309
  docs/rfps/Open/uptane-for-substrate-design-and-scope.md
Labels: ready for review, rfp, to close

#1550 Update to leetcoin application
  applications/leetcoin.md
Labels: ready for review

#1582 Add Hybrid Explorer grant application. (#1582
  applications/hybrid.md
Labels: ready for review

#1589 Create ParaSpell_follow-up2.md
  applications/ParaSpell_follow-up2.md
Labels: ready for review

#1575 Grant Management Webapp RFP
  docs/RFPs/Open/grant_management_webapp.md
  docs/RFPs/Open/img/grants_details.png
  docs/RFPs/Open/img/grants_page.png
Labels: ready for review

#1560 Create Diffy_chat.md
  applications/Diffy_chat.md
Labels: ready for review

#1604 Terminate tdot.md
  applications/tdot.md
Labels: ready for review

#1563 Add Zkverse application
  applications/zkverse.md
Labels: ready for review

#1587 Create Awesome-Polka.md (#1587
  applications/Awesome-Polka.md
Labels: ready for review

#1440 Claps Health
  applications/Claps.md
Labels: ready for review

#1592 openPayroll proposal (#1592
  applications/openPayroll.md
Labels: ready for review

#1629 Update index.md
  applications/index.md
Labels: discussion private

#1627 Update index.md to check mangosale first delivery
  applications/index.md
Labels: discussion private

#1611 Create DIA_Bridge_Attestation_Oracle.md
  applications/DIA_Bridge_Attestation_Oracle.md
Labels: ready for review, discussion private

#1482 TogetherCrew: Community Health Check
  applications/community-health-check.md
Labels: ready for review

#1630 Supersig: second grant proposal to be included in system level chain (statemine)
  applications/supersig_fellowship.md
Labels: ready for review
