Repository w3f/Grants-Program, pull requests merged in 2024-12, with the labels that each got.

#2451 Multichain Identity Indexer
  applications/multichain_identity_indexer.md
Labels: ready for review, admin-review

#2463 Update index.md
  applications/index.md
Labels: admin-review

#2437 Application for MigrationEase.md
  applications/MigrationEase.md
Labels: ready for review, discussion private

#2464 Amendment: Infimum M2 dependencies
  applications/infimum.md
Labels: ready for review, amendment

#2465 Update index.md
  applications/index.md
Labels: admin-review

#2429 create dairdrop application
  applications/dairdrop.md
Labels: ready for review

#2440 Swush : DEX Aggregator on Polkadot Asset Hub
  applications/swush-dex-aggregator.md
Labels: ready for review

#2470 Update swush-dex-aggregator.md
  applications/swush-dex-aggregator.md
Labels: ready for review

#2471 Cancel research_wallets.md
  applications/research_wallets.md
Labels: ready for review

#2472 Update index.md
  applications/index.md
Labels: ready for review

#2458 add queryweb3
  applications/queryWeb3.md
Labels: ready for review, discussion private

#2479 update dairdrop payment address
  applications/dairdrop.md
Labels: ready for review, amendment, admin-review
