Repository w3f/Grants-Program, pull requests merged in 2024-07, with the labels that each got.

#2337 Amendment: Infimum timeline
  applications/infimum.md
Labels: admin-review

#2334 Add xcm-tools-follow-up-2
  applications/xcm-tools-follow-up-2.md
Labels: ready for review

#2339 Cancel tux0.md
  applications/tux0.md
Labels: ready for review

#2340 Amend Grant agreement: Adding DOT address
  applications/dotnix.md
Labels: ready for review

#2304 Application: Subcoin
  applications/Subcoin.md
Labels: ready for review, admin-review

#2341 Implement flexible DOT payments
  .github/pull_request_template.md
  README.md
  applications/application-template-research.md
  applications/application-template.md
  applications/maintenance/maintenance-template.md
  docs/Process/how-to-apply.md
  docs/Support Docs/T&Cs.md
  docs/faq.md
Labels: update docs

#2253 Polkadart Follow-up
  applications/polkadart_extension.md
Labels: ready for review

#2347 Cancel centrifuge-twamm.md
  applications/centrifuge-twamm.md
Labels: ready for review

#2349 Update C Forge's Payment Polkadot Address (Typechain Polkadot)
  applications/typechain_revived.md
Labels: ready for review, amendment

#2346 Update scope of Milestone 1
  applications/dot-login.md
Labels: ready for review, amendment

#2351 Update index.md
  applications/index.md
Labels: ready for review

#2221 ISO20022 Ecosystem Research and Technical Design
  applications/ISO20022-Implementation-POC.md
Labels: ready for review, admin-review
