Repository w3f/Grants-Program, pull requests merged in 2024-11, with the labels that each got.

#2441 Update index.md
  applications/index.md
Labels: admin-review

#2444 Update payment info xcNFT
  applications/xcNFT.md
Labels: ready for review, amendment

#2448 Cancel quantum-guard.md
  applications/quantum-guard.md
Labels: ready for review

#2396 NFT as an account (NFTAA)
  applications/nftaa.md
Labels: ready for review, changes requested

#2449 Update index.md
  applications/index.md
Labels: admin-review

#2454 Update index.md
  applications/index.md
Labels: admin-review

#2457 update rfp overview
  docs/rfps.md
Labels: update docs

#2430 Create Polkanalysis.md
  applications/polkanalysis.md
Labels: ready for review
