Repository w3f/Grants-Program, pull requests merged in 2024-04, with the labels that each got.

#2270 amend: Add 2nd milestone
  applications/create-substrate-app.md
Labels: ready for review, amendment

#2268 vested DOT paid to Polkadot, not AssetHub
  .github/pull_request_template.md
Labels: update docs

#2272 Update to lastic-grant3.md
  applications/lastic-grant3.md
Labels: amendment

#2246 Proposal for `subxt-python`
  applications/subxt-python.md
Labels: ready for review

#2277 fix info box of `1. Application` doc section
  docs/Process/how-to-apply.md
Labels: update docs

#2273 Updating the USDT account address
  applications/Tokenguard.md
Labels: ready for review, amendment

#2278 Update index.md
  applications/index.md
Labels: ready for review

#2280 Update index.md
  applications/index.md
Labels: admin-review

#2281 Cancel community-health-check.md
  applications/community-health-check.md
Labels: ready for review

#2282 Update index.md
  applications/index.md
Labels: admin-review

#2284 Update publish.yml
  .github/workflows/publish.yml
Labels: ready for review

#2283 Update codeql.yml
  .github/workflows/codeql.yml
Labels: ready for review

#2261 Cyborg Network Grant Application
  applications/Cyborg.md
Labels: ready for review

#2276 chore: fix some comments
  docs/faq.md
Labels: ready for review, update docs

#2291 Cancel Datagen_Project.md
  applications/Datagen_Project.md
Labels: ready for review

#2218 Application: Sub-concensus mechanism
  applications/sub_consensus_mechanism.md
Labels: ready for review, admin-review
