Repository w3f/Grants-Program, pull requests merged in 2024-03, with the labels that each got.

#2227 [Developer Tooling] CLI `create-substrate-app`
  applications/create-substrate-app.md
Labels: ready for review, admin-review

#2234 Add pallet-verifier
  applications/pallet-verifier.md
Labels: ready for review

#2244 Amendment PR (PoCS)
  applications/PoCS.md
Labels: ready for review, amendment

#2245 Amend Polkadart
  applications/Polkadart.md
Labels: ready for review, amendment

#2247 fix: typo
  applications/fair_squares.md
Labels: ready for review

#2251 create-substrate-app finished
  applications/index.md
Labels: ready for review

#2252 Update index.md
  applications/index.md
Labels: ready for review

#2254 Amend request due to delivery schedule change
  applications/quantum-guard.md
Labels: ready for review, amendment

#2249 confirm vested DOT
  .github/pull_request_template.md
Labels: ready for review

#2257 changed payment info
  applications/ssal-commods-dex.md
Labels: ready for review, amendment

#2260 Update index.md
  applications/index.md
Labels: ready for review, admin-review

#2250 Threshold Signature Implementation
  applications/ThresholdSignature.md
Labels: ready for review, admin-review

#2262 Update faq.md
  docs/faq.md
Labels: update docs

#2258 FiDi DotSight: M4 proposed to be taken out of scope
  applications/fidi-dotsight-analytics.md
Labels: ready for review, amendment
