Repository w3f/Grants-Program, pull requests merged in 2024-01, with the labels that each got.

#2164 DecentralML
  applications/decentral_ml.md
Labels: ready for review

#2166 update payment address
  applications/decentral_ml.md
Labels: ready for review

#2171 Amendment for Deitos Network License.
  applications/Deitos_Network.md
Labels: ready for review, amendment

#2112 TuxedoDapp
  applications/TuxedoDapp.md
Labels: ready for review

#2185 Update index.md
  applications/index.md
Labels: ready for review

#2184 Re-open ISO-8583 RFP grant
  applications/ISO-8583-implementation.md
Labels: ready for review, amendment

#2167 Lastic Coretime Indexer + Visualizations
  applications/lastic-grant3.md
Labels: ready for review

#2159 A Material Design Makeover for Substrate Front-End Template
  applications/si-front-end-template.md
Labels: ready for review

#2192 Update index.md
  applications/index.md
Labels: ready for review

#2195 split milestone 2 into two milestones
  applications/community-health-check.md
Labels: ready for review, amendment

#2194 Change payment method for AssetHub Indexer
  applications/kodadot_assethub_nft_indexer_statemine_statemint.md
Labels: ready for review, amendment

#2197 Update index.md
  applications/index.md
Labels: ready for review

#2175 DOT Login
  applications/dot-login.md
Labels: ready for review, admin-review
