Repository w3f/Grants-Program, pull requests merged in 2024-08, with the labels that each got.

#2362 Amendment: Payment Address
  applications/ThresholdSignature.md
Labels: ready for review, amendment

#2367 Update signet.md
  applications/signet.md
Labels: ready for review, amendment

#2366 Update signet.md
  applications/signet.md
Labels: ready for review, amendment

#2368 Update index.md
  applications/index.md
Labels: ready for review, admin-review

#2371 Cancel tuxedo_parachain.md
  applications/tuxedo_parachain.md
Labels: ready for review

#2376 Amendment for Subcoin milestone3
  applications/Subcoin.md
Labels: ready for review, amendment
