Repository w3f/Grants-Program, pull requests merged in 2024-09, with the labels that each got.

#2381 Update index.md
  applications/index.md
Labels: ready for review

#2383 Update index.md
  applications/index.md
Labels: ready for review

#2390 index.js file in pages directory is optimized
  package-lock.json
  src/pages/index.js
  src/pages/index.module.css
  yarn.lock
Labels: changes requested, update docs

#2392 sync funding opportunities
  README.md
  docs/funding.md
Labels: update docs

#2379 Create AgriDot.md
  applications/AgriDot.md
Labels: ready for review

#2358 Create xcNFT.md
  applications/xcNFT.md
Labels: ready for review

#2395 Amend DOT wallet address
  applications/xcNFT.md
Labels: ready for review, amendment

#2370 Web3 Association - Open source contributor funding experiment setup
  applications/web3-association-open-source-contributor-funding-experiment-setup.md
Labels: ready for review

#2398 Update wallet addresses in AgriDot application
  applications/AgriDot.md
Labels: changes requested, amendment

#2399 Update index.md
  applications/index.md
Labels: ready for review

#2400 Update grant_management_webapp.md
  docs/RFPs/grant_management_webapp.md
Labels: rfp

#2402 Repair AgriDot.md images
  applications/AgriDot.md
Labels: admin-review

#2401 Update images in xcNFT.md
  applications/xcNFT.md
Labels: admin-review

#2403 Update images in ParaSpell.md
  applications/ParaSpell.md
Labels: admin-review

#2350 Create P2PStateChannels.md
  applications/P2PStateChannels.md
Labels: ready for review

#2404 Update README.md
  README.md
Labels: ready for review

#2405 Update levels.md
  docs/Introduction/levels.md
Labels: update docs

#2406 Rename L1
  README.md
  docs/Introduction/levels.md
Labels: update docs

#2407 Update index.md
  applications/index.md
Labels: ready for review

#2408 docs: update Cyborg.md
  applications/Cyborg.md
Labels: admin-review
