Repository w3f/Grants-Program, pull requests merged in 2024-02, with the labels that each got.

#2198 Update PVF RFP
  docs/RFPs/parachain_validation_conformance_testing.md
  docs/rfps.md
Labels: ready for review

#2199 Cancel odyssey_momentum.md
  applications/odyssey_momentum.md
Labels: ready for review

#2200 RFP Cleanup
  docs/RFPs/IDE_for_ink_Smart_Contracts.md
  docs/RFPs/alternative_polkadot_host_implementations.md
  docs/RFPs/jsonrpsee-proxy-support.md
  docs/RFPs/raft-validators.md
  docs/rfps.md
Labels: ready for review

#2202 Ammendment PR
  applications/PoCS.md
Labels: ready for review, amendment

#2204 Update index.md
  applications/index.md
Labels: update docs, admin-review

#2208 Update index.md
  applications/index.md
Labels: ready for review

#2214 Update index.md
  applications/index.md
Labels: admin-review

#2213 Update MeProtocol.md Payment Details
  applications/MeProtocol.md
Labels: ready for review, amendment

#2220 Cancel blockchainia.md
  applications/blockchainia.md
Labels: ready for review

#2168 Futur Protocol
  applications/FuturFusion.md
Labels: ready for review, admin-review

#2226 Update index.md
  applications/index.md
Labels: admin-review

#2224 Add DOT payment
  .github/pull_request_template.md
  README.md
  applications/application-template-research.md
  applications/application-template.md
  applications/maintenance/maintenance-template.md
  docs/Process/how-to-apply.md
  docs/Support Docs/T&Cs.md
  docs/faq.md
  docs/introduction.md
  docusaurus.config.js
Labels: update docs

#2191 Application for User Account Access Security in Wallets
  applications/research_wallets.md
Labels: ready for review, discussion private

#2228 Close Sub-Consensus RFP
  docs/RFPs/sub-consensus.md
  docs/rfps.md
Labels: rfp

#2231 Update index.md
  applications/index.md
Labels: ready for review

#2230 Amendment: Infimum extrinsics
  applications/infimum.md
Labels: ready for review, amendment

#2232 Supersig: update pallet_supersig.md
  applications/pallet_supersig.md
Labels: amendment, admin-review

#2235 Fix typos in "Static Analysis of Runtime Pallets" RFP
  docs/RFPs/Static-Analysis-for-Runtime-Pallets.md
Labels: rfp
