Repository w3f/Grants-Program, pull requests merged in 2024-10, with the labels that each got.

#2411 payment updates
  .github/pull_request_template.md
  README.md
  docs/Process/how-to-apply.md
  docs/faq.md
Labels: ready for review, update docs

#2414 Close OpenGov research RFP
  docs/rfps.md
Labels: update docs, rfp

#2417 fix rfp status in file
  docs/RFPs/action_research_opengov.md
Labels: ready for review, rfp

#2410 Relaycode - An Improved Extrinsics Builder for Polkadot
  applications/relaycode.md
Labels: ready for review, admin-review

#2419 Update entity details - relaycode
  applications/relaycode.md
Labels: ready for review, amendment

#2373 Application: Polkadot Runtime Releaser
  applications/polkadot-runtime-releaser.md
Labels: ready for review

#2420 Add typink proposal
  applications/typink.md
Labels: ready for review

#2363 SwarmNL milestone 2 revision
  applications/swarm-nl.md
Labels: ready for review, amendment

#2425 Closing RFP: Formal Guarantees for Grandpa
  docs/RFPs/formal_guarantees_for_grandpa.md
  docs/rfps.md
Labels: rfp

#2424 Update index.md
  applications/index.md
Labels: ready for review

#2391 add frontier-pos-template
  applications/frontier-pos-template.md
Labels: ready for review

#2427 Create proposal for bison
  applications/bison.md
Labels: ready for review

#2435 Close user-account-access-analysis.md
  docs/RFPs/user-account-access-analysis.md
  docs/rfps.md
Labels: rfp

#2393 NeuroZK - Cyborg parachain's ZK verification layer
  applications/NeuroZK.md
Labels: ready for review
