Repository w3f/Grants-Program, pull requests merged in 2024-05, with the labels that each got.

#2299 Add Tarek to Solang Playground contributers
  applications/Solang_Playground.md
Labels: ready for review

#2302 Update bubble plugins list
  applications/LiisaPortfolioTracker.md
Labels: ready for review, amendment

#2222 Action Research for OpenGov
  docs/RFPs/action_research_opengov.md
Labels: ready for review, rfp

#2292 Add Substrate EVM Adapter application
  applications/substrate-evm-adapter.md
Labels: ready for review

#2271 KodaDot - Atomic Swap Indexer & API for AssetHub NFTs
  applications/kodadot_assethub_nft_m2.md
Labels: ready for review

#2306 Update index.md
  applications/index.md
Labels: ready for review

#2289 Add Improve & Update Typechain Polkadot
  applications/typechain_revived.md
Labels: ready for review

#2308 Update address to assethub
  applications/grantmaster.md
Labels: ready for review, amendment

#2307 Amendment for Hyperfridge Milestone 4
  applications/hyperfridge.md
Labels: ready for review, amendment

#2305 Amendment related to https://github.com/w3f/Grant-Milestone-Delivery/pull/1175
  applications/TuxedoDapp.md
Labels: amendment

#2310 Update index.md
  applications/index.md
Labels: ready for review

#2317 Update README.md
  README.md
Labels: ready for review, update docs

#2319 Update funding.md
  docs/funding.md
Labels: ready for review, update docs

#2309 Amend grant agreement secret management
  applications/dotnix.md
Labels: ready for review, amendment

#2312 Amendment number2 to QuantumGuard
  applications/quantum-guard.md
Labels: ready for review, amendment, admin-review

#2320 Update index.md
  applications/index.md
Labels: admin-review

#2321 Update lastic-grant3.md - update to payment in Fiat
  applications/lastic-grant3.md
Labels: ready for review, amendment

#2323 tokenguard first milestone
  applications/index.md
Labels: admin-review
