Repository w3f/Grants-Program, pull requests merged in 2024-06, with the labels that each got.

#2325 Amend tokenomics-survey-2022.md
  applications/tokenomics-survey-2022.md
Labels: ready for review, amendment

#2327 Redo office hours
  README.md
  docs/help.md
  docs/office-hours.md
  sidebars.js
  yarn.lock
Labels: update docs

#2328 Update index.md
  applications/index.md
Labels: admin-review

#2329 Update index.md
  applications/index.md
Labels: ready for review

#2330 Update index.md - ink-playground finished
  applications/index.md
Labels: admin-review

#2331 Updated payment account
  applications/Tokenguard.md
Labels: ready for review, amendment
