Repository w3f/Grants-Program, pull requests merged in 2025-09, with the labels that each got.

#2606 Create Preparing Polkadot pallet_balances for Formal Verification.md
  applications/Preparing Polkadot pallet_balances for Formal Verification.md
Labels: ready for review, admin-review

#2652 Update grant-badge-guidelines.md
  docs/Support Docs/grant-badge-guidelines.md
Labels: ready for review, update docs

#2623 Grant Application: Offline Election Tool by Team Starks
  applications/OfflineElectionTool.md
Labels: ready for review

#2575 TxSim: Transaction Simulator and Risk Detector for Polkadot
  applications/TxSim.md
Labels: ready for review
