Repository w3f/Grants-Program, pull requests merged in 2025-01, with the labels that each got.

#2483 Update AgriDot.md
  applications/AgriDot.md
Labels: ready for review, amendment

#2482 add eliza-plugin-dot
  applications/eliza-plugin-dot.md
Labels: ready for review

#2487 update eliza-plugin-dot payment address
  applications/eliza-plugin-dot.md
Labels: admin-review

#2485 agriDot finished
  applications/index.md
Labels: admin-review

#2490 Cancel MeProtocol.md
  applications/MeProtocol.md
Labels: ready for review

#2491 Update index.md
  applications/index.md
Labels: ready for review
