Repository w3f/Grants-Program, pull requests merged in 2025-07, with the labels that each got.

#2583 dotnix-follow-up: change of company, bank details.
  applications/dotnix-follow-up.md
Labels: ready for review

#2578 Benchmarking Blockchain Data Availability: Polkadot ELVES vs Modular DA Layers
  applications/da_comparative_study.md
Labels: ready for review, discussion private, admin-review

#2540 RFP for Offline election tool
  docs/RFPs/offline_election_tool.md
Labels: rfp, to close

#2604 Update index.md
  applications/index.md
Labels: ready for review

#2608 Update index.md
  applications/index.md
Labels: ready for review

#2614 Update index.md
  applications/index.md
Labels: admin-review
