Repository w3f/Grants-Program, pull requests merged in 2025-04, with the labels that each got.

#2530 Application for Ledger Universal Polkadot App upgrade
  applications/ledgerUpgrade.md
Labels: ready for review, discussion private, admin-review

#2537 Update index.md
  applications/index.md
Labels: admin-review

#2522 Lollipop.md
  applications/Lollipop.md
Labels: ready for review, discussion private
